<style>
  .login-container {
    position: absolute;
    left: 37%;
    top: 30%;
    background-color: gray;
    width: 23%;
  }
</style>

<div class="col-sm-6 login-container">
  <form>
    <div class="form-group">
      <label for="exampleInputEmail1">UserName</label>
      <input type="text" class="form-control" id="exampleInputEmail1" ng-model="user.name" placeholder="UserName">
    </div>

    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control" ng-model="user.pass" id="exampleInputPassword1" placeholder="Password">
    </div>

    <button type="submit" class="btn btn-default" ng-click="submit(user)">Submit</button>
  </form>
</div>
